
-- Base de Datos 
CREATE DATABASE [SistemaUsuarios];
GO

USE [SistemaUsuarios];
GO


CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
    PRIMARY KEY (id)
);
GO

SET IDENTITY_INSERT [dbo].[usuarios] ON;

INSERT INTO [dbo].[usuarios] ([id], [nombre], [apellido], [username], [password], [email]) 
VALUES (1, N'Pedro', N'Ramieres', N'pedrami', N'123', N'ped@gmail.com');

INSERT INTO [dbo].[usuarios] ([id], [nombre], [apellido], [username], [password], [email]) 
VALUES (2, N'Hect', N'ramiro', N'adad', N'123', N'fef@gmail.com');

SET IDENTITY_INSERT [dbo].[usuarios] OFF;
GO

-- 4. VERIFICAR LOS DATOS
SELECT * FROM usuarios;
